@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --surface-primary: #ffffff;
        --surface-secondary: #f4f4f5;
        /* Zinc 50 */
        --surface-tertiary: #e4e4e7;
        /* Zinc 200 */
        --text-primary: #09090b;
        /* Zinc 950 */
        --text-secondary: #71717a;
        /* Zinc 500 */
        --text-tertiary: #a1a1aa;
        /* Zinc 400 */
        --border-default: #e4e4e7;
        /* Zinc 200 */
    }

    .dark {
        --surface-primary: #050508;
        /* Midnight Black */
        --surface-secondary: #0f111a;
        /* Midnight Indigo */
        --surface-tertiary: #1a1c2e;
        /* Elevated Indigo */
        --text-primary: #f8fafc;
        /* Slate 50 */
        --text-secondary: #94a3b8;
        /* Slate 400 */
        --text-tertiary: #64748b;
        /* Slate 500 */
        --border-default: #1e293b;
        /* Slate 800 */
    }
}